@import '../../styles/variables';

.eighties-section {
  letter-spacing: 1.5px;

  .background('80s-dragon-quest.gif');

  .slide-title {
    @media (max-width: @screen-sm-max) {
      font-size: 1.3em;
    }

    font-size: 31px;
    font-family: 'Press Start 2P', cursive;

    margin-top: 48px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
    letter-spacing: 1.5px;
  }

  p {
    margin-top: 0px;
  }

  #intro {
    .scroll-btn {
      margin-top: 20px;
    }
  }

  #S1S1 {
    .small-slime {
      width: 100px;
      position: absolute;
      top: 35px;
      transform: translateX(25vw);

      @media (max-width: @screen-sm-max) {
        width: 60px;
        top: -8px;
        transform: translateX(20vw);
      }
    }
  }

  #S1S2 {
    .slide-background('80s-final-fantasy.gif');
  }

  #S1S3 {
    .slide-title {
      font-size: 20px;
    }
  }
}
