@mixin background($url) {
  .section__background {
    background-image: url($url);
    background-repeat: no-repeat;
    opacity: 0.5;
    position: fixed;
    width: 100vW;
    height: 100vH;
    background-size: cover;
  }
}