@mixin background($url) {
  .section__background {
    background-image: url($url);
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 100vW;
    height: 100vH;
    background-size: cover;

    // WOOOOOOW position: fixed works in IE9 but not IE10+
    // So we need this hack:
    margin-bottom: -100vH;
  }
}

@mixin early_rpg_text_box() {
  background-color: black;
  margin-left: 70px;
  margin-right: 70px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}