@import './variables';

.fp-tableCell {
  background: @gradient;
}

// NAV Indicators
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  box-shadow: 1px 1px 8px black;
  background: white !important;
}

.fp-slidesNav {
  width: 115px;
  left: initial !important;
}

button {
  cursor: pointer;
}

.jrpg-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  transform: translate3d(0, 0, 0);

  &.fp-up {
    left: 50%;
    top: 5%;

    @media (max-width: @screen-xs-max) {
      left: 40vw;
      top: 6%;
    }

    width: 0;
    border-top: 0px;
    border-top-style: solid;
    border-top-color: transparent;

    border-bottom: 34px;
    border-bottom-style: solid;
    border-bottom-color: #ffffffb5;

    border-left: 38.5px;
    border-left-style: solid;
    border-left-color: transparent;

    border-right: 38.5px;
    border-right-style: solid;
    border-right-color: transparent;
  }

  &.fp-down {
    left: 50%;

    @media (max-width: @screen-xs-max) {
      left: 40vw;
    }
    top: 99%;
    width: 0;
    border-top: 34px;
    border-top-style: solid;
    border-top-color: #ffffffb5;

    border-bottom: 34px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    border-left: 38.5px;
    border-left-style: solid;
    border-left-color: transparent;

    border-right: 38.5px;
    border-right-style: solid;
    border-right-color: transparent;

    // border-width: 38.5px 34px 38.5px 0;
    // border-color: transparent #fff transparent transparent;
    // transform: rotateZ(270deg);
  }
}

.fp-controlArrow {
  &.fp-prev {
    border-right-color: #ffffffb5;
  }

  &.fp-next {
    border-left-color: #ffffffb5;
  }
}
