.nineties-section {
  .background('90s-chrono-fire.gif');

  div,
  h1,
  h2,
  h3,
  p,
  span {
    font-family: ChronoType;

    font-weight: normal;
    letter-spacing: 1.5px;
  }

  .slide-title {
    font-size: 70px;
  }

  .section__background {
    opacity: 0.7;
  }
}
