.noughties-section {
  .background('00s-final-fantasy-vii.gif');

  .section__background {
    opacity: 0.7;
  }

  .slide-title {
    font-family: Final_Fantasy_VII;
    font-weight: normal;
    font-size: 112px;
  }

  p {
    margin-top: 0px;
  }

  .markdown-text {
    font-size: 40px;
  }
}
