@font-face {
	font-family:'ChronoType';
		src:url('./ChronoType.eot');
		src:url('./ChronoType.eot?#iefix') format('embedded-opentype'),
				url('./ChronoType.woff') format('woff'),
				url('./ChronoType.ttf') format('truetype'),
				url('./ChronoType.svg#ChronoType') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* This is necessary so parcel doesnt strip it from the bundle */
.chrono-font {
	font-family: ChronoType;
}