@font-face {
  font-family: 'Final_Fantasy_VII';

  src: url('6412e92fb5bf50be5f5c9e132b6a8d03.eot');
  src: url('c214e06b2d7929b96adc9bafc64fa3ed.woff2') format('woff2'),
    url('6412e92fb5bf50be5f5c9e132b6a8d03.eot') format('embedded-opentype');
  src: url('8b65bef352b54ce621491c7dbca25d20.woff') format('woff'), url('be9bef8e2a576ced9ef5e32239eafc46.ttf') format('truetype'),
    url('d8cc6dc68a9157c909e2855615320a70.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ffvii-font {
  font-family: 'Final_Fantasy_VII';
}
