@font-face {
	font-family:'ChronoType';
		src:url('a0445d685333235906f3e012d8e3680c.eot');
		src:url('a0445d685333235906f3e012d8e3680c.eot') format('embedded-opentype'),
				url('6625c7351a5e691d47a47cc13465c243.woff') format('woff'),
				url('75accfc26082cb80c65f258b8c396581.ttf') format('truetype'),
				url('9560740b1227552272f744a54c66450e.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* This is necessary so parcel doesnt strip it from the bundle */
.chrono-font {
	font-family: ChronoType;
}