@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.early_rpg_text_box {
  background-color: black;
  color: white;
  margin-left: 6vh;
  margin-right: 6vh;
  border-style: solid;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
@-webkit-keyframes example1 {
  0% {
    /* Firefox bug fix */
    -webkit-transform: translateY(100%);
    /* Firefox bug fix */
    transform: translateY(100%);
  }
  100% {
    /* Firefox bug fix */
    -webkit-transform: translateY(-100%);
    /* Firefox bug fix */
    transform: translateY(-100%);
  }
}
@keyframes example1 {
  0% {
    /* Firefox bug fix */
    -webkit-transform: translateY(100%);
    /* Firefox bug fix */
    transform: translateY(100%);
  }
  100% {
    /* Firefox bug fix */
    -webkit-transform: translateY(-100%);
    /* Firefox bug fix */
    transform: translateY(-100%);
  }
}
.fp-tableCell {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(81%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
  background: white !important;
}
.fp-slidesNav {
  width: 115px;
  left: initial !important;
}
button {
  cursor: pointer;
}
.early-text,
.demo-btn {
  background-color: black;
  color: white;
  margin-left: 6vh;
  margin-right: 6vh;
  border-style: solid;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  font-family: 'Press Start 2P', cursive;
}
.early-text.fit {
  display: inline-table;
}
.chrono-text {
  font-family: ChronoType;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 35px 35px 20px 35px;
  margin-left: 6vh;
  margin-right: 6vh;
  background: url('a8a9090b44ba625c6e152985dc3a9767.png') center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 1800px) {
  .chrono-text {
    background: url('46c9ee98f82f1509e0d437270f8ed18f.png') center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 1199px) {
  .chrono-text {
    background: url('49087c46dcb1e75352a0e769ccd24663.png') center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 991px) {
  .chrono-text {
    background: url('a9ddeddbd7af72e1a25ba2343bd1fc83.png') center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 767px) {
  .chrono-text {
    background: url('3c8d969c05da29e9fc8361ba7659ff1d.png') center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.ffvii-text {
  background-color: #17308a;
  color: white;
  margin-left: 6vh;
  margin-right: 6vh;
  border-style: solid;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  font-family: Final_Fantasy_VII;
  font-weight: normal;
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
}
.jrpg-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.jrpg-controlArrow.fp-up {
  top: 50px;
  left: 47vw;
  width: 0;
  border-top: 0px;
  border-top-style: solid;
  border-top-color: transparent !important;
  border-bottom: 34px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.70980392);
  border-left: 38.5px;
  border-left-style: solid;
  border-left-color: transparent !important;
  border-right: 38.5px;
  border-right-style: solid;
  border-right-color: transparent !important;
}
@media (max-width: 767px) {
  .jrpg-controlArrow.fp-up {
    left: 42vw;
  }
}
.jrpg-controlArrow.fp-down {
  left: 47vw;
  top: 99%;
  width: 0;
  border-top: 34px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.70980392);
  border-bottom: 34px;
  border-bottom-style: solid;
  border-bottom-color: transparent !important;
  border-left: 38.5px;
  border-left-style: solid;
  border-left-color: transparent !important;
  border-right: 38.5px;
  border-right-style: solid;
  border-right-color: transparent !important;
}
@media (max-width: 767px) {
  .jrpg-controlArrow.fp-down {
    left: 42vw;
  }
}
.jrpg-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-top: 38.5px;
  border-top-style: solid;
  border-top-color: transparent !important;
  border-bottom: 34px;
  border-bottom-style: solid;
  border-bottom-color: transparent !important;
  border-left: 0px;
  border-left-style: solid;
  border-left-color: transparent !important;
  border-right: 34px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.70980392);
}
.jrpg-controlArrow.fp-next {
  right: 15px;
  width: 0;
  border-top: 38.5px;
  border-top-style: solid;
  border-top-color: transparent !important;
  border-bottom: 38.5px;
  border-bottom-style: solid;
  border-bottom-color: transparent !important;
  border-left: 34px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.70980392);
  border-right: 0px;
  border-right-style: solid;
  border-right-color: transparent !important;
}
.arrow--animating {
  -webkit-animation-name: blinkborder;
          animation-name: blinkborder;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-left-color: white !important;
  border-right-color: white !important;
  border-top-color: white !important;
  border-bottom-color: white !important;
}
@-webkit-keyframes blinkborder {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
            transform: scale3d(1.4, 1.4, 1.4);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes blinkborder {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
            transform: scale3d(1.4, 1.4, 1.4);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.demo-btn {
  margin-top: 20px;
}
.intro-section {
  z-index: 1;
}
.intro-section .slide-title {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .intro-section .slide-title {
    font-size: 1.5em;
  }
}
.intro-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('23adda3b5de117c4477a2fa9ce4d87e1.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-section .intro-text {
  margin-left: 6vh;
  margin-right: 6vh;
  color: white;
  text-shadow: 1px 2px 10px black;
}
@media (max-width: 767px) {
  .intro-section .markdown-text {
    max-height: 65vh !important;
  }
}
.eighties-section {
  letter-spacing: 1.5px;
  z-index: 1;
}
.eighties-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('bc54cf647c4fa9ea0dbe7b7e5dff86e2.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eighties-section .slide-title {
  font-size: 31px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 48px;
}
@media (max-width: 991px) {
  .eighties-section .slide-title {
    font-size: 1.3em;
  }
}
.eighties-section h1,
.eighties-section h2,
.eighties-section h3,
.eighties-section h4 {
  font-weight: normal;
  letter-spacing: 1.5px;
}
.eighties-section p {
  margin-top: 0px;
}
.eighties-section #intro .scroll-btn {
  margin-top: 20px;
}
.eighties-section #S1S1 .small-slime {
  width: 100px;
  position: absolute;
  top: 35px;
  -webkit-transform: translateX(25vw);
      -ms-transform: translateX(25vw);
          transform: translateX(25vw);
}
@media (max-width: 1199px) {
  .eighties-section #S1S1 .small-slime {
    top: 23px;
  }
}
@media (max-width: 1200px) {
  .eighties-section #S1S1 .small-slime {
    top: 35px;
  }
}
@media (max-width: 767px) {
  .eighties-section #S1S1 .small-slime {
    width: 60px;
    top: -8px;
    -webkit-transform: translateX(10vw);
        -ms-transform: translateX(10vw);
            transform: translateX(10vw);
  }
}
.eighties-section #S1S2 .slide__background-screen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(81%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
}
.eighties-section #S1S2 .slide__background {
  opacity: 1;
  background: url('7e3919f45dc03561908113c41d4654b1.gif') center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-bottom: -100vh;
}
.eighties-section #S1S3 .slide-title {
  font-size: 20px;
}
.nineties-section {
  z-index: 1;
}
.nineties-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('6cebcff56ca0a17b361e806e506f99d2.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nineties-section div,
.nineties-section h1,
.nineties-section h2,
.nineties-section h3,
.nineties-section p,
.nineties-section span {
  font-family: ChronoType;
  font-weight: normal;
  letter-spacing: 1.5px;
}
.nineties-section .slide-title {
  font-size: 70px;
}
@media (max-width: 991px) {
  .nineties-section .slide-title {
    font-size: 45px;
  }
}
.nineties-section .section__background {
  opacity: 0.7;
}
.nineties-section p {
  margin-top: 0px;
}
.nineties-section #S2S3 .slide__background-screen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(81%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
}
.nineties-section #S2S3 .slide__background {
  opacity: 1;
  background: url('a04bb38292df00d9e186ee6480bfce44.gif') center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-bottom: -100vh;
}
.noughties-section {
  z-index: 1;
}
.noughties-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('c022b6e94c6d0cb7d92762643a0a1d98.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.noughties-section .section__background {
  opacity: 0.7;
}
.noughties-section .slide-title {
  font-family: Final_Fantasy_VII;
  font-weight: normal;
  font-size: 112px;
}
@media (max-width: 991px) {
  .noughties-section .slide-title {
    font-size: 60px;
  }
}
.noughties-section p {
  margin-top: 0px;
}
.noughties-section .markdown-text {
  font-size: 1.5em;
}
#S4S3 .slide__background-screen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(81%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
}
#S4S3 .slide__background {
  opacity: 1;
  background: url('f0330123a7346891f59ebc4c8f6089d5.gif') center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-bottom: -100vh;
}
#S4S3 .small-pika {
  width: 100px;
  position: absolute;
  top: 15px;
  right: 26vw;
}
@media (max-width: 991px) {
  #S4S3 .small-pika {
    width: 60px;
    top: 29px;
    right: 20vw;
  }
}
.tens-section {
  z-index: 1;
}
.tens-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('db07cfcb0a8842fbeaf91f463a395c29.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tens-section .slide-title {
  font-size: 1.7em;
}
@media (max-width: 991px) {
  .tens-section .slide-title {
    font-size: 1.3em;
  }
}
.tens-section .slide-text {
  font-family: sans-serif;
  font-size: 1.5em;
  max-height: 80vh;
  overflow: auto;
  padding-right: 10px;
  padding-left: 10px;
}
@media (max-width: 991px) {
  .tens-section .slide-text {
    font-size: 1.3em;
  }
}
.tens-section .slide-text .markdown-text {
  max-height: 80vh;
}
@media (max-width: 991px) {
  .tens-section .slide-text .markdown-text {
    max-height: 60vh;
  }
}
.tens-section .modern-text {
  margin-left: 6vh;
  margin-right: 6vh;
  color: white;
  text-shadow: 1px 2px 10px black;
}
.summary-section {
  z-index: 1;
}
.summary-section:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('c7e19a9967c42c72def5a44b50f6f851.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.summary-section h1 {
  font-weight: normal;
  text-align: center;
}
.bibliography {
  font-family: sans-serif;
  font-size: 22px;
}
body {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
a {
  color: #00bfff;
}
a:visited {
  color: #00bfff;
}
.slide {
  text-align: center;
  font-family: sans-serif;
}
.slide-title {
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 5px;
  margin-top: 55px;
}
.title-slide .fp-tableCell {
  vertical-align: top;
}
.slide-text {
  -webkit-overflow-scrolling: touch;
  text-align: left;
  margin-left: 55px;
  margin-right: 55px;
}
.slide-text .markdown-text {
  max-height: 70vh;
  overflow: auto;
}
@media (max-width: 767px) {
  .slide-text .markdown-text {
    max-height: 55vh;
  }
}
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(255, 255, 255, 0.61);
  /* Some darker color when you click it */
  border-radius: 100px;
}
@font-face {
	font-family:'ChronoType';
		src:url('a0445d685333235906f3e012d8e3680c.eot');
		src:url('a0445d685333235906f3e012d8e3680c.eot') format('embedded-opentype'),
				url('6625c7351a5e691d47a47cc13465c243.woff') format('woff'),
				url('75accfc26082cb80c65f258b8c396581.ttf') format('truetype'),
				url('9560740b1227552272f744a54c66450e.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* This is necessary so parcel doesnt strip it from the bundle */
.chrono-font {
	font-family: ChronoType;
}