@import './styles/mixins';
@import './styles/fonts';

.slide {
  text-align: center;
  font-family: sans-serif;
}

.slide-title {
  color: white;
  text-shadow: 1px 1px 3px black;

  margin-bottom: 30px;
}

.title-slide {
  .fp-tableCell {
    vertical-align: top;

    padding-top: 20px;
  }
}

.early-text {
  @include early_rpg_text_box();
  font-family: 'Press Start 2P', cursive;

  &.fit {
    padding-left: 100px;
    padding-right: 100px;

    display: inline-table;
  }
}

.eighties-section {
  letter-spacing: 1.5px;

  @include background("./images/80s-dragon-quest.gif");
  .slide-title {
    font-size: 31px;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
    letter-spacing: 1.5px;
  }
}

.markdown-text {
  text-align: left;
}

.nineties-section {
  @include background("./images/90s-chrono-background.gif");

  div, h1, h2, h3, p, span {
    font-family: ChronoType;
  }

  .slide-title {
    font-size: 70px;
  }

  .section__background {
    opacity: 0.7;
  }
}

.noughties-section {
  @include background("./images/00s-final-fantasy-vii.gif");

  .section__background {
    opacity: 0.7;
  }
}

.tens-section {
  @include background("./images/10s-persona5.gif");
}

.summary-section {
  @include background("./images/90s-chrono-background.gif");
}