@import './styles/mixins';
@import './styles/fonts';

.slide {
  text-align: center;
  font-family: sans-serif;
}

.slide-title {
  color: white;
  text-shadow: 1px 1px 3px black;

  font-size: 42px;

  margin-top: -45vH;
}

.early-text {
  @include early_rpg_text_box();
  font-family: 'Press Start 2P', cursive;
}

.eighties-section {
  font-family: sans-serif;
  @include background("./images/80s-dragon-quest.gif");
}

.nineties-section {
  @include background("./images/90s-chrono-background.gif");

  font-family: ChronoType;

  .section__background {
    opacity: 0.7;
  }
}