@import './styles/mixins';
@import './styles/fonts';

.slide {
  text-align: center;
  font-family: sans-serif;
}

.slide-title {
  color: white;
  text-shadow: 1px 1px 3px black;

  margin-bottom: 30px;
}

.title-slide {
  .fp-tableCell {
    vertical-align: top;
  }
}

.early-text {
  @include early_rpg_text_box();
  font-family: 'Press Start 2P', cursive;

  &.fit {
    padding-left: 100px;
    padding-right: 100px;

    display: inline-table;
  }
}

.eighties-section {
  letter-spacing: 1.5px;

  @include background("./images/80s-dragon-quest.gif", section);
  .slide-title {
    font-size: 31px;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
    letter-spacing: 1.5px;
  }

  #S1S2 {
    .slide__background-screen {
      background-color: white;
      opacity: 1;
      width: 100vW;
      height: 100vH;
      margin-bottom: -100vH;
    }

    @include background("./images/80s-final-fantasy.gif", slide);

    .slide__background {
      opacity: 1;
    }
  }
}

.markdown-text {
  text-align: left;
}

.nineties-section {
  @include background("./images/90s-chrono-background.gif", section);

  div, h1, h2, h3, p, span {
    font-family: ChronoType;

    font-weight: normal;
    letter-spacing: 1.5px;
  }

  .slide-title {
    font-size: 70px;
  }

  .section__background {
    opacity: 0.7;
  }
}

.noughties-section {
  @include background("./images/00s-final-fantasy-vii.gif", section);

  .section__background {
    opacity: 0.7;
  }
}

.tens-section {
  @include background("./images/10s-persona5.gif", section);
}

.summary-section {
  @include background("./images/90s-chrono-background.gif", section);
}